<div id="email-body">
  <div id="card">

    <div id="card-content">
      <div id="card-title">
        Selling {{listing_name}} for ${{listing_price}} on Obay!
      </div>

      <div id="card-text">

        Got {{listing_name}}? We do! Click the link below to shop for {{listing_name}} on Obay! </br>

        <a href="{listing_url}" target="_blank">Clicky clicky!</a>

        <div id="signature">
          Cheers!

          <div id="logo-container">
            <img id="logo" src="http://i.imgur.com/s2pf3KP.gif?1" alt="logo goes here">
          </div>

          <div id="behalf-of">
            Sent on behalf of {{listing_creator}}.
          </div>

        </div>

      </div>

    </div>

  </div>

</div>  
