<div id="email-body">
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        Congratulations, {{listing_name}} has been purchased!
      </div>
      <div id="message">
        Today, {{listing_creator}}'s Obay item {{listing_name}} was purchased for ${{listing_price}} by {{listing_buyer}}! </br> Since {{listing_buyer}} chose to pay for {{listing_name}} in cash, we've generated this nifty little IOU for you both! To help make sure that everything is handled fair and square for both parties, please hang onto this email until the IOU has been resolved. </br>
      </div>
      <div id="IOU">
        <div id="IOU-title">
          IOU:
        </div>
        <div id="IOU-text">
          Via an Obay transaction, the following agreement has been made between {{listing_creator}} and {{listing_buyer}} regarding the ownership of {{listing_name}}: 
        </div>
        <div id="conditions">
          1) {{listing_buyer}} will pay ${{listing_price}} in cash to {{listing_creator}} </br> AND </br> 2) {{listing_creator}} will give {{listing_name}} to {{listing_buyer}} upon payment
        </div>
      </div>
      <div id="signature">
        Thanks for using Obay!
        <div id="logo-container">
          <img id="logo" src="http://essexgreennj.com/img/stores/logo.png" alt="logo goes here">
        </div>
      </div>
    </div>
  </div>
</div>
