<h1>{{listing_name}} has been purchased!</h1>

IOU: By purchasing {{listing_name}}, {{listing_buyer}} has agreed to pay the 
amount of ${{listing_price}} in cash to {{listing_creator}}.

Please save this email for your records until the IOU has been resolved. 
Thank you for using Obay!
