<body>

<h1>{{listing_name}} has been purchased!</h1>

<div id="iouText">
  IOU: By purchasing {{listing_name}}, {{listing_buyer}} has agreed to pay the amount of ${{listing_price}} in cash to {{listing_creator}}.
</div>

<p>
  Please save this email for your records until the IOU has been resolved. Thank you for using Obay!
</p>
  
<img src="https://dl-web.dropbox.com/get/Obay/Logo2_transparency.gif?_subject_uid=121525441&w=AAAkzHuwp05TpPjmSEwadhDFHCZ33N5BekaXqUW_COhw0g">

</body>